# Database (Postgres no Dokploy)
DATABASE_URL="postgresql://user:pass@host:5432/santafe?schema=public"

# Mercado Pago (use TEST_ em dev)
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=

# Evolution API (WhatsApp)
EVOLUTION_API_URL=https://evolutionapi.severina.top
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=

# Admin
ADMIN_PASSWORD=

# Base URL público (sem barra final)
NEXT_PUBLIC_BASE_URL=https://netao.kairulabs.com.br

# Node
NODE_ENV=production
